@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.pointer {
    cursor: pointer;
}
button:hover {
    opacity: 0.8;
    background-color:#333333;
}

body {
    font-family: 'Roboto', sans-serif;

    color: #333333;

    margin: 0;
    padding: 0;
    background-color: #cadcee;
    
}

.error {
    text-align: left;
    width: 80%;
    animation: showErrors 1s ease-in-out;
    text-transform: none;

}

.guasa {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 50%;
    font-size: 100%;
    background-color: #25d366;
    color: white;
}

.title-form {
    font-size: 2rem;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 20px;
}

.title-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.inputs {
    width: 80%;
}

.inputs {
    border: none;
    border-bottom: 2px solid #333333;
    outline: none;
    width: 100%;
    padding: 5px;
    font-size: 16px;
    margin: 10px auto;
    color: #333333;
  }

  .inputs:focus {
    border-bottom-color: #007BFF; /* Cambia el color al hacer foco */
  }
.conexionContainer {
    position: fixed;
    bottom: 100px;
    right: 0;
    z-index: 50;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: forestgreen;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 30%;
}

.logo img {
    width: 40px;
    color: white;
}

.main-container {
    width: 100%;
    background-image: url('/src/assets/banner1.webp');
    background-color: #333333;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    }
/* 
.colorful-text {
    font-weight: bold;
    background: linear-gradient(90deg, red, blue, green, orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  } */
  

.main-content-container {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    opacity: 1000;
    padding: 80px;
}

.button-principal {
    padding: 25px;
    background-color: #1976D2;
    outline: none;
    border: none;
    border-radius: 5px;
    width: 200px;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.banner-container{
    display: block;
    width: 100%;
    height: 30vh;
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 1200px) {

    .subtitulo-main {
        font-size: 1.5rem;
        font-weight: 700;
        text-align: start;
        text-transform: none;
        color: black;
    }
  
    .titulo-main {
        font-size: 2rem;
        font-weight: 700;
        text-align: start;
        width: 50%;
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;
        color: black;
    }

    .menuIcon {
        display: block;
    }

    nav {
        flex-direction: column;
        align-items: start;
        justify-content: start;
    }

    .links {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        padding: 10px 0;
        width: 90%;
        gap: 10px;
    }

    .link {
        display: block;
        margin: 5px;
    }

    .desktop {
        display: none;
    }

    .header-mobile {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px;
        width: 90vw;
        height: fit-content;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 50;
        background-color:white;
        color: black;
    }

    .mobile {
        width: 90vw;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .headerContainer {
        height: 30px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        padding: 10px 0;
    }

    .container {
        padding: 30px 0;
    }

    .conexionContainer {
        position: fixed;
        bottom: 30px;
        right: 15px;
        z-index: 50;
    }
    .about-container{
        padding: 10px;
        background-color: #b4b381;
        color: black;
        background-position: center;
        background-size: cover;
    }
    .about-text-container{
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 10px;
        text-align: center;
        line-height: 2rem;
    }

    .experience-container{
        padding: 10px;
        flex-direction: column;
        background-color: #333333;
        color: black;
        background-size: cover;
        background-image: url('/src/assets/banner4.webp');
        background-position: center;
    }
    .experience-text-container{
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 10px;
        text-align: center;
        line-height: 1.5;
    }

    .services-container{
        color: #0c0c0c;
        background-color: #333333;
        background-image: url('/src/assets/banner5.webp');
        padding: 10px;
    }
    .services-header{
    }
    .service{
        color: #0e0d0d;
        font-size: 1rem;
        width: 80%;
    }
    .service-title{
        align-items: start;
        gap: 3px;
        color: #0f0f0f;
    }
    .services-intro{
        color: #181817;
    }
    .banner-container{
        width: 100%;
        height: 20vh;
        background-color: #333333;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

@keyframes showErrors {
    from {
        opacity: 0;

    }

    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateX(-100px);
    }

    to {
        transform: translateX(0);
    }
}
@keyframes to-black {
    from {
        color: #ffffff; /* o cualquier color diferente al final */
    }
    to {
        color: #333333;
    }
}

.black.text {
    animation: to-black 5s forwards;
}
.animated-text {
    animation: slideIn 1s forwards;
    /* 1s es la duración de la animación */
}

@keyframes upgradeMenu {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.animated-menu {
    animation: upgradeMenu 0s forwards;
    /* 1s es la duración de la animación */
}

@keyframes downMenu {
    from {
        height: 250px;
    }

    to {
        height: 30px;
    }
}




@media (min-width:1200px) {

    h1 {
        font-size: 1.5em;
    }

    .menuIcon {
        display: none;
    }

    .links {
        display: flex;
        align-items: center;
        flex-direction: row;
        margin: 0;
        padding: 2px 0;
        width: 30%;
    }

    .link {
        width: 100%;
        text-align: center;
    }

    .desktop {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;
        height: 100%;
    }

    .header-mobile {
        display: none;
    }

    .mobile {
        display: none;
    }

    .headerContainer {
        height: 100px;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 50;
        background-color: white;

    }

    .container {
        padding: 100px 0px;
    }

    .go-back-menu {
        animation: none;
    }

    .conexionContainer {
        position: fixed;
        bottom: 60px;
        right: 30px;
    }

    .subtitulo-main {
        font-size: 3rem;
        text-align: start;

        color: #333333;
    }

    .titulo-main {
        font-size: 4.25rem;
        font-weight: 700;
        text-transform: uppercase;
        text-align: start;

        color:#333333;
    }

    .main-container {
        height: 100vh;opacity: 1;
    }

    .inputs {
        width: 30%;
    }

    .error {
        text-transform: none;
        text-align: left;
        width: 30%;
        animation: showErrors 1s ease-in-out;
    }

    .logo img {
        width: 100px;
        color: white;
    }

    .logo {}

    .link:hover {
        opacity: 0.8;
        background-color: white;
    }
    .about-container{
        padding: 80px;
        margin: 0;
        color: #FFD700;
        background-color: #333333;
        background-image: url('/src/assets/banner3.webp');
        color: black;
        background-position: center;
        background-size: cover;
    }
    .about-text-container{
        width: 80%;
        padding: 10px 10px;
        text-align: start;
        line-height: 1.5;
        font-size: 1.5rem;
        color:#FFD700;
        margin: 0;
        height: 100%;
    }
    .experience-container{
        padding: 80px;
        color: #FFD700;

        background-color: #333333;
        color: black;
        background-size: cover;
        background-image: url('/src/assets/banner4.webp');
        background-position: center;
    }
    .experience-text-container{
        width: 60%;
        padding: 10px 10px;
        text-align: start;
        line-height: 1.5;
        font-size: 1.5rem;
        color: #070706;
        width: 100%;
        height: 100%;
    }


    .services-container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-repeat: no-repeat;
        background-size: cover;
        color: #0a0a0a;
        padding: 10px 10px;
        color: #0c0c0c;
        background-color: #333333;
        background-image: url('/src/assets/banner5.webp');
        padding: 10px;
    }
    .services{
    }
    .service{
        width: 40%;
        color: #0e0d0d;
        font-size: 2rem;
    }
    .service-title{
        gap: 3px;
        color: #0f0f0f;
    }
    .services-container{
        color: #080808;
        padding: 80px;
    }
    .services-header{
        width: 100%;
        text-align: start;
        padding: 10px 10px;
    }
    .services{
    }
    .service-title{
        display: block;
        color: #0c0c0b;
        text-align: start;
    }
    .services-intro{
        text-align: start;
        color: #080808;
        font-size: 2rem;
    }
    
    .banner-container{
        width: 100%;
        height: 20vh;
        background-color: #333333;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}