@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.pointer {
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
    background-color: black;
}

body {
    font-family: 'Roboto', sans-serif;

    color: #333333;

    margin: 0;
    padding: 0;

}

.error {
    text-align: left;
    width: 80%;
    animation: showErrors 1s ease-in-out;
    text-transform: none;

}

.guasa {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 50%;
    font-size: 100%;
    background-color: #25d366;
    color: white;
}

.title-form {
    font-size: 2rem;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 20px;
}

.title-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.inputs {
    width: 80%;
}

.inputs {
    border: none;
    border-bottom: 2px solid #333333;
    outline: none;
    width: 100%;
    padding: 5px;
    font-size: 16px;
    margin: 10px auto;
    color: #333333;
  }

  .inputs:focus {
    border-bottom-color: #007BFF; /* Cambia el color al hacer foco */
  }
.conexionContainer {
    position: fixed;
    bottom: 100px;
    right: 0;

    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: forestgreen;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 30%;
}

.logo img {
    width: 40px;
    color: white;
}

.main-container {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    opacity: 1000;
}

.button-principal {
    padding: 25px;
    background-color: #1976D2;
    outline: none;
    border: none;
    border-radius: 5px;
    width: 200px;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

@media (max-width: 1200px) {

    .subtitulo-main {
        font-size: 1rem;
        font-weight: 700;
        text-align: center;
        text-transform: none;
    }

    .titulo-main {
        font-size: 2.25rem;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;
    }

    .menuIcon {
        display: block;
    }

    nav {
        flex-direction: column;
        align-items: start;
        justify-content: start;
    }

    .links {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        padding: 10px 0;
        width: 90%;
        gap: 10px;
    }

    .link {
        display: block;
        margin: 5px;
    }

    .desktop {
        display: none;
    }

    .header-mobile {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2px;
        width: 90%;
        height: 30px;
    }

    .mobile {
        display: flex;
        align-items: center;
        padding: 10px;
        height: 30px;
        width: 100%;
    }

    .headerContainer {
        height: 30px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        padding: 10px 0;
    }

    .container {
        padding: 30px 0;
    }

    .conexionContainer {
        position: fixed;
        bottom: 30px;
        right: 15px;
    }
    .about-container{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        flex-direction: column;
    }
    .about-text-container{
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 10px;
        text-align: center;
        line-height: 1.5;
    }

    .experience-container{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        flex-direction: column;
    }
    .experience-text-container{
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 10px;
        text-align: center;
        line-height: 1.5;
    }

    .service-container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .services{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .service{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 80%;
        border-bottom: 1px solid #333333;
    }
    .service-title{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 3px;
    }
    

}

@keyframes showErrors {
    from {
        opacity: 0;

    }

    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateX(-100px);
    }

    to {
        transform: translateX(0);
    }
}

.animated-text {
    animation: slideIn 1s forwards;
    /* 1s es la duración de la animación */
}

@keyframes upgradeMenu {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.animated-menu {
    animation: upgradeMenu 0s forwards;
    /* 1s es la duración de la animación */
}

@keyframes downMenu {
    from {
        height: 250px;
    }

    to {
        height: 30px;
    }
}




@media (min-width:1200px) {

    h1 {
        font-size: 1.5em;
    }

    .menuIcon {
        display: none;
    }

    .links {
        display: flex;
        align-items: center;
        flex-direction: row;
        margin: 0;
        padding: 2px 0;
        width: 30%;
    }

    .link {
        width: 100%;
        text-align: center;
    }

    .desktop {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;
        height: 100%;
    }

    .header-mobile {
        display: none;
    }

    .mobile {
        display: none;
    }

    .headerContainer {
        height: 100px;
        width: 100%;

    }

    .container {
        padding: 100px 0px;
    }

    .go-back-menu {
        animation: none;
    }

    .conexionContainer {
        position: fixed;
        bottom: 60px;
        right: 30px;
    }

    .subtitulo-main {
        font-size: 1rem;
        text-align: center;
    }

    .titulo-main {
        font-size: 6.25rem;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
    }

    .main-container {
        height: 80vh;
    }

    .inputs {
        width: 30%;
    }

    .error {
        text-transform: none;
        text-align: left;
        width: 30%;
        animation: showErrors 1s ease-in-out;
    }

    .logo img {
        width: 100px;
        color: white;
    }

    .logo {}

    .link:hover {
        opacity: 0.8;
        background-color: white;
    }
    .about-container{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        flex-direction: column;
    }
    .about-text-container{
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 10px;
        text-align: center;
        line-height: 1.5;
    }
    .experience-container{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        flex-direction: column;
    }
    .experience-text-container{
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 10px;
        text-align: center;
        line-height: 1.5;
    }


    .service-container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .services{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .service{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 40%;
        border-bottom: 1px solid #333333;
    }
    .service-title{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 3px;
    }

}